* {
  box-sizing: border-box;
  margin: 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100 vw;
  background-color: rgb(235, 235, 235);
}
.search__form {
  width: 70%;
  position: relative;
}
.search__field {
  height: 40px;
  width: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(130, 130, 130, 0.3);
  transition: 0.3s;
}
.search__field:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
.search_submit {
  position: absolute;
  margin: 5px;
  padding: 0 10px;
  right: 0;
  top: 0;
  height: 30px;
  color: rgba(255, 255, 255, 0.95);
  background-color: #5fbcff;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 5px rgba(130, 130, 130, 0.5);
  transition: 0.3s;
}
.search_submit:hover {
  cursor: pointer;
  background-color: rgb(43, 165, 252);
}
.search_submit:active {
  transform: scale(0.95);
  background-color: rgb(0, 149, 255);
  box-shadow: inset 0 0 5px rgba(130, 130, 130, 0.5);
}
.last_search {
  display: flex;
  margin-top: 10px;
  font-family: 'Poppins';
  font-size: 10px;
  transition: 0.2s;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.autocomplete_button {
  border: none;
  cursor: pointer;
  color: #5fbcff;
  background-color: transparent;
}




.result-section {
  height: fit-content;
  margin: 0 auto;
  background-color: #aa8686;
}
.result-container {
  height: calc(100vh - 80px);
}